@media screen and (min-width: 768px) {
  header nav li {
    display: inline-block;
    background:#e3e3e3;
    margin: 0 20px;
  }
  
  .profile {
    width:95%;
  }
  
  .profile img {
    width: 50%;
    float: right;
    margin-left: 30px;
  }
  
  .profile p {
    text-align:left;
    padding-left:0;
  }
  
 .main_content li {
    width: 45%;
    float:left;
    margin: 50px 2.5% 0;
  }
  
  .clearfix::after {
  content:"";
  display: table;
  clear:both;
  }
  
  .contact_detail p {
    width: 70%;
    text-align:center;
    margin: 20px auto;
  }
  
  .footer_back {
    display: none;
  }
 
  footer {
    position: relative;
  }
  
  .footer_nav {
    position: absolute;
    right: 0;
  }
  
  .footer_nav li {
    display: inline-block;
    float: left;
    padding-top: 20px;
    background:#e3e3e3;
    font-size: 1em;
    margin: 0 10px;
  }
}

@media screen and (min-width:1024px) {
  .wrapper h1 {
    float: left;
  }
  
  .wrapper nav {
    float: right;
    margin-top: 25px;
  }
  
  .main_content li {
    width: 30%;
    float: left;
    margin: 50px 1%;
  }
}